body {
    display: grid;
    margin: 0;
    height: 100vh;
    grid-template-rows: 35px 1fr 35px;
    grid-template-columns: 55px 200px 75px  1fr;
    column-gap: 5px;
    row-gap: 5px;
}

body > * {
	margin: 5px;
}

#connect_btn {
    grid-row: 1;
    grid-column: 1;
}

#baudrate {
    grid-row: 1;
    grid-column: 2;
}

#serial_console {
    grid-row: 2;
    grid-column: 1/5;
    border: 1px solid #000;
    overflow-y: auto;
    overflow-x: scroll;
    white-space: pre;
    display: flex;
    flex-direction: column-reverse;
}

.black {
    color: black;
}

.red {
    color: red;
}

.green {
    color: green;
}

#send_btn {
    grid-row: 3;
    grid-column: 1;
}

#send_text {
    grid-row: 3;
    grid-column: 2/5;
}